@charset "utf-8";
.container {
    border: 1px solid black;
    padding: 30px;
    font-size: 40px;
}
.field {
    display: flex;
    justify-content: space-around;
}
      
/*ここからはボタン*/
html, body {
    height: 100%;
  }
  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #000000;
    box-shadow: 0px 15px 20px rgba(131, 147, 140, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  /*ここからは時間割のマス目*/
  table {
    border-collapse: collapse;
    width: 50%;
}
th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
/*ここからは入力場所*/
input[type="text"] {
  width: 150%;  /* 幅を100%に設定 */
  height: 40px; /* 高さを40pxに設定 */
  font-size: 16px; /* フォントサイズを16pxに設定 */
  padding: 8px; /* 内側の余白を8pxに設定 */
  box-sizing: border-box; /* ボーダーとパディングを含めたサイズに設定 */
}
/*ここからは選択場所*/
select {
  width: 150%;  /* 幅設定 */
  height: 40px; /* 高さ設定 */
  font-size: 20px; /* フォントサイズ設定 */
  
}

/*ここからはセル*/
th, td {
  font-size: 19px;
  padding: 8px; /* セルの内側の余白 */
  border: 1px solid #ddd; /* セルの境界線 */
  text-align: center; /* テキストの中央揃え */
}

