@charset "utf-8";

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 24px;
  padding: 20px;
}

hr {
  margin-top: 90px;
  width: 80%;
  margin-left: 10%;
}

.title {
  color: #ffffff;
  background-color: #24211b;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
}

.sub-title {
  height: 150px;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.sub-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #ff0000;
  margin-top: 20px;
}

#daiya {
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c1e796;
  width: 80%;
  margin-left: 10%;
}

#timeTable {
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.toAit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toYakusa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeToAit {
  background-color: #f8b19b;
  width: 150%;
  text-align: center;
}

.timeToYakusa {
  background-color: #92d6f6;
  width: 150%;
  text-align: center;
}

.link {
  font-size: 24px;
  padding-left: 15%;
  margin-bottom: 50px;
  list-style: disc;
}

.link li {
  margin-top: 20px;
}

.link a:hover {
  color: #165e83;
  text-decoration: underline;
}

@media (max-width: 800px) {
  main {
    margin-top: 50px;
  }

  .title {
    height: 120px;
  }

  .sub-title {
    margin-top: 0;
  }

  #timeTable {
    display: block;
  }

  .timeToAit {
    width: 85%;
  }

  .timeToYakusa {
    width: 85%;
  }

  .toYakusa{
    margin-top: 50px;
  }
}