@charset "utf-8";

/* 全ての要素とその前後の要素に対する設定 */
*,
::before,
::after {
  padding: 0; /* 内側の余白を0に設定 */
  margin: 0; /* 外側の余白を0に設定 */
  box-sizing: border-box; /* ボックスのサイズ計算をborder-boxモデルに設定 */
}

/* リスト要素に対する設定 */
ul,
ol {
  list-style: none; /* リストマーカーを非表示に設定 */
}

/* リンク要素に対する設定 */
a {
  color: inherit; /* 色を親要素から継承 */
  text-decoration: none; /* 下線を非表示に設定 */
}

/* body要素に対する設定 */
body {
  font-family: sans-serif; /* フォントをサンセリフに設定 */
  font-size: 16px; /* フォントサイズを16pxに設定 */
  color: #000000; /* 文字色を黒に設定 */
  line-height: 1; /* 行の高さを1に設定 */
  background-color: #ffffff; /* 背景色を白に設定 */
}

/* ここからheader */
/* img要素に対する設定 */
img {
  max-width: 100%; /* 画像の最大幅を100%に設定 */
}

/* .header-innerクラスに対する設定 */
.header-inner {
  max-width: 1200px; /* 最大幅を1200pxに設定 */
  height: 110px; /* 高さを110pxに設定 */
  margin-left: auto; /* 左マージンを自動に設定 */
  /* 右マージンは明示的に設定されていませんが、margin-leftと同様に自動に設定されます */
}
/* メニューボタンのスタイル（デフォルトでは非表示） */
.toggle-menu-button {
  display: none;
}

/* ヘッダーロゴのスタイル */
.header-logo {
  display: block;
  width: 170px;
}

/* サイトメニューのスタイル */
.site-menu ul {
  display: flex;
}

/* サイトメニュー内のリンクのスタイル */
.site-menu ul li a {
  margin-left: 20px;
  margin-right: 20px;
}

/* サイトメニュー内のリンクのフォントスタイル */
.site-menu ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/* ここからfooter */
/* フッターのスタイル */
.footer {
  color: #ffffff;
  background-color: #24211b;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* フッターロゴのスタイル */
.footer-logo {
  display: block;
  width: 235px;
  margin-top: 30px;
}

/* コピーライトのスタイル */
.copyright {
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
}

/* 以下はモバイル向け */
/* 以下に書いたものは800px以下の時だけ適用される */
@media (max-width: 800px) {
  /* ここからheader */
  /* モバイル向けサイトメニューのスタイル */
  .site-menu ul {
    display: block; /*縦並びに変更*/
    text-align: center; /*中央揃えになる*/
  }

  /* モバイル向けサイトメニュー内のリストアイテムのスタイル */
  .site-menu li {
    margin-top: 20px;
  }

  /* モバイル向けヘッダーのスタイル */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    height: 50px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  /* モバイル向けヘッダー内部のスタイル */
  .header-inner {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: relative; /*これにより、header-logoの子要素に対して、header-logoを基準にした位置指定ができるようになる*/
  }

  /* モバイル向けヘッダーロゴのスタイル */
  .header-logo {
    width: 100px;
  }

  /* モバイル向けヘッダーサイトメニューのスタイル */
  .header-site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: #ffffff;
    background-color: #736e62;
    padding-top: 30px;
    padding-bottom: 50px;
    display: none;
  }

  /* モバイル向けヘッダーサイトメニューの表示スタイル */
  .header-site-menu.is-show {
    display: block;
  }

  /* モバイル向けメニューボタンのスタイル */
  .toggle-menu-button {
    display: block;
    width: 44px;
    height: 34px;
    background-image: url(/img/common-img/icon-menu.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent; /*transparentは透明という意味*/
    border: none; /*枠線削除*/
    border-radius: 0; /*角丸解除*/
    outline: none; /*タップ時の枠線削除*/
  }

  /* 以下footer */
  /* モバイル向けメインコンテンツのスタイル */
  .main {
    padding-top: 50px;
  }

  /* モバイル向けフッターロゴのスタイル */
  .footer-logo {
    margin-top: 60px;
  }

  /* モバイル向けフッター内の電話番号のスタイル */
  .footer-tel {
    font-size: 20px;
  }

  /* モバイル向けコピーライトのスタイル */
  .copyright {
    margin-top: 50px;
  }
}

/* button要素に適用するスタイル */
button {
  font-size: large; /* ボタンのフォントサイズを大きく設定 */
  font-weight: bold; /* ボタンの文字を太くする */
  width: 20rem; /* ボタンの幅を20remに設定 */
  height: 7em; /* ボタンの高さを7emに設定 */
  display: flex; /* ボタンの内部をフレックスボックスとして扱う */
  justify-content: center; /* ボタン内のアイテムを水平方向の中央に配置 */
  align-items: center; /* ボタン内のアイテムを垂直方向の中央に配置 */
}

/* 各ボタンに適用する背景画像とそのスタイル */
.bus-button,
.lunch-button,
.class-button,
.todo-button {
  background-size: 100% auto; /* 背景画像の横幅をボタンの横幅に合わせる */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-position: center; /* 画像を中央に配置 */
  background-color: rgb(249, 249, 249); /* 背景色を白に設定 */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #4b2c14;
}

.bus-button {
  background-image: url('/img/home-img/bus.jpg'); /* バスボタンの背景画像を設定 */
}

.lunch-button {
  background-image: url('/img/home-img/lunch.jpg'); /* ランチボタンの背景画像を設定 */
}

.class-button {
  background-image: url('/img/home-img/map.jpg'); /* クラスボタンの背景画像を設定 */
}

.todo-button {
  background-image: url('/img/home-img/ToDo.jpg'); /* ToDoボタンの背景画像を設定 */
}

/* main要素に適用するスタイル */
main {
  font-size: 62.5%; /* フォントサイズを62.5%に設定 */
  display: flex; /* main要素内をフレックスボックスとして扱う */
  flex-wrap: wrap; /* 要素がコンテナを超える場合に折り返す */
  justify-content: space-around; /* 横方向の間隔を均等にする */
  align-items: center; /* 縦方向の位置を中央にする */
  margin-top: 4rem; /* 上部に4remのマージンを追加 */
  margin-bottom: 4rem; /* 下部に4remのマージンを追加 */
}

/* table要素に適用するスタイル */
table {
  width: 8rem; /* テーブルの幅を8remに設定 */
  display: flex; /* テーブルをフレックスボックスとして扱う */
  justify-content: center; /* テーブル内のアイテムを水平方向の中央に配置 */
  flex-wrap: wrap; /* 要素がコンテナを超える場合に折り返す */
  align-items: center; /* テーブル内のアイテムを垂直方向の中央に配置 */
}

/* td要素に適用するスタイル */
td {
  flex: 1; /* td要素が均等にスペースを分けるように設定 */
  padding: 0.5rem; /* td要素に0.5remのパディングを追加 */
}